<h1 class="text-center">Here's what we've been eating:</h1>

<br>

<div id="meals" class="transitions-enabled">
  <% @meals.each do |meal| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(meal.image.url(:medium)), meal %>
      <div class="panel-body">
        <%= meal.description %>
        <strong><%= meal.user.email if meal.user %></strong>

        <% if meal.user == current_user %>
          <div class="center">
            <br>
            <%= link_to edit_meal_path(meal) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            |
            <%= link_to meal, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<br>

<div class="text-center">
  <% if user_signed_in? %>
    <p>Eaten something recently?  Add it.    <%= link_to raw('<span class="glyphicon glyphicon-camera"></span> Add New Meal'), new_meal_path, class: "btn btn-primary" %></p>
  <% end %>
</div>
